.div-btn-log{
    display: grid;
    margin-top: 3rem;
}

.btn-log{
    display: inline-block;
    max-width: 80%;
    background-color: #00C2CB;
    color: #ffffff;
    font-size: 15pt;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    margin: 0 auto;
    transition: 0.5s all;
}

.btn-log:hover{
    background-color: #168a91;
}