<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Está é uma página modelo do Math Day">
    <meta name="kaywords" content="metmática, exemplo">
    <meta name="author" content="Vitor Barbosa">
    <link rel="stylesheet" type="text/css" href="css/general.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="material/img/logo/Mask group (2) 5.png">
    <script src="js/general-link.js"></script>
    <title>Math Day | Modelo de página</title>
</head>
<body onload="link0()">
    <div class="body">
        <header>
            <div class="body-div-header">
                <div class="header-content">
                    <button onclick="openMenu()" class="menu"><a href="#top"><apan class="material-icons">menu</apan></a></button>
                    <div class="logo">
                        <figure>
                            <a href="#">
                                <img class="logo-img" src="material/img/logo/Mask group (2) 3.png">
                                <img class="logo-img2" src="material/img/logo/Mask group (2) 8.png">
                            </a>
                        </figure>
                    </div>
                    <div class="nav-header">
                        <nav>
                            <a class="linkclass" href="#">Agendar aula</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div id="bgd" class="bgd"></div>
        
        <div class="body-div">
            <div class="body-main">
                <div class="content-nav">
                    <div class="div-space">
                        <nav id="menu">
                        </nav>
                    </div>
                </div>
                <div id="menu-body">
                    <div id="content-nav2" class="content-nav2">
                        <div class="div-space">
                            <button onclick="closeMenu()" class="menu closemenu"><span class="material-icons">close</span></button>
                            <nav id="menu2">
                            </nav>
                        </div>
                    </div>    
                </div>
                <div class="content-main">
                    <div class="div-main">
                        <main>
                            <div class="way">
                                <a class="way-link" href="#">Início</a>
                                <a class="way-link" href="#">Conjuntos</a>
                                <a class="way-link" href="#">Diagrama de Hulk</a>
                            </div>
                            <article>
                                <section>
                                    <div class="inline-flex float-left">
                                        <div class="icon-content">
                                            <span class="material-icons">workspaces</span>
                                        </div>
                                        <div>
                                            <h1 class="title-article">Título do artigo</h1>
                                            <h2 class="sub-title-article">Subtitulo do artigo</h2>
                                        </div>
                                    </div>
                                </section>
                                <div class="space"></div>
                                <section>
                                    <h2 class="topic-content">Subtitulo</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga qui in, rem perspiciatis tempore ab nobis molestias totam, consequatur non, dolorum quidem eius quod. Eligendi, libero praesentium? Inventore, sunt.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione obcaecati vero asperiores illum minima veniam harum commodi voluptatem qui eos reiciendis enim iure eligendi, ducimus accusamus delectus consequuntur ab quos!</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint totam animi officia, accusamus enim sunt! Inventore, laboriosam eligendi. Rem soluta iusto corrupti mollitia possimus ea, culpa deleniti minus nulla placeat.</p>
                                </section>
                                <section>
                                    <figure class="text-figure">
                                        <img src="material/img/ilustrations/img - teorema de pit....png">
                                        <figcaption><strong>Figura 1:</strong> representação do teorema de Pitágoras.</figcaption>
                                    </figure>
                                </section>
                                <section>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga qui in, rem perspiciatis tempore ab nobis molestias totam, consequatur non, dolorum quidem eius quod. Eligendi, libero praesentium? Inventore, sunt.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione obcaecati vero asperiores illum minima veniam harum commodi voluptatem qui eos reiciendis enim iure eligendi, ducimus accusamus delectus consequuntur ab quos!</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint totam animi officia, accusamus enim sunt! Inventore, laboriosam eligendi. Rem soluta iusto corrupti mollitia possimus ea, culpa deleniti minus nulla placeat.</p>
                                </section>
                                <section>
                                    <table class="table-n">
                                        <thead>
                                            <tr>
                                                <th>Ordem</th>
                                                <th>Planeta</th>
                                                <th>Nº de luas</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1º</td>
                                                <td>Mercúrio</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>2º</td>
                                                <td>Venus</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>3º</td>
                                                <td>Terra</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>4º</td>
                                                <td>Marte</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>5º</td>
                                                <td>Júpiter</td>
                                                <td>aprox. 126</td>
                                            </tr>
                                            <tr>
                                                <td>6º</td>
                                                <td>Saturno</td>
                                                <td>8</td>
                                            </tr>
                                            <tr>
                                                <td>7º</td>
                                                <td>Urano</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <td>8º</td>
                                                <td>Netuno</td>
                                                <td>2</td>
                                            </tr>
                                            <tr>
                                                <td>testando</td>
                                                <td>testando</td>
                                                <td>testando</td>
                                            </tr>
                                            <tr>
                                                <td>testando</td>
                                                <td>testando</td>
                                                <td>testando</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="legend"><strong>Tabela/Quadro 1:</strong> Exemplo qualquer.</p>
                                </section>
                                <section>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga qui in, rem perspiciatis tempore ab nobis molestias totam, consequatur non, dolorum quidem eius quod. Eligendi, libero praesentium? Inventore, sunt.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione obcaecati vero asperiores illum minima veniam harum commodi voluptatem qui eos reiciendis enim iure eligendi, ducimus accusamus delectus consequuntur ab quos!</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint totam animi officia, accusamus enim sunt! Inventore, laboriosam eligendi. Rem soluta iusto corrupti mollitia possimus ea, culpa deleniti minus nulla placeat.</p>
                                </section>
                                <section>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga qui in, rem perspiciatis tempore ab nobis molestias totam, consequatur non, dolorum quidem eius quod. Eligendi, libero praesentium? Inventore, sunt.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione obcaecati vero asperiores illum minima veniam harum commodi voluptatem qui eos reiciendis enim iure eligendi, ducimus accusamus delectus consequuntur ab quos!</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint totam animi officia, accusamus enim sunt! Inventore, laboriosam eligendi. Rem soluta iusto corrupti mollitia possimus ea, culpa deleniti minus nulla placeat.</p>
                                </section>
                                <section>
                                    <h2 class="topic-content">Material de apoio</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consequatur sit, harum odio unde sed, culpa praesentium rerum dolorum autem tenetur reiciendis at laboriosam! Officiis adipisci modi a est voluptate.</p>
                                </section>
                                <section>
                                    <div class="space"></div>
                                    <h2 class="topic-content">Referências Bibliográficas</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae libero minus quos similique. Veritatis nam molestiae ut voluptatem in voluptates, sint repellat voluptate error hic pariatur temporibus placeat deserunt atque.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum unde dignissimos error est deserunt autem sed consectetur, repudiandae maiores, illum voluptatum quae laborum nemo, tempora beatae voluptatem vitae alias ut?</p>
                                </section>
                                <section>
                                    <div class="author">
                                        <p class="p1-aut">Escrito por:</p>
                                        <strong>Nome Sobrenome</strong>
                                    </div>
                                    <hr>
                                    <p>Cidade - UF, Pais. <i>Atualizado em XX de Mês de 20XX.</i></p>
                                </section>
                                <div class="space"></div>
                                <div class="btn-page">
                                    <button class="button-botton" onclick=""><span class="material-icons">print</span>&nbsp;<span class="tx-btn">Imprimir</span></button>
                                    <button class="button-botton" onclick=""><span class="material-icons">download</span>&nbsp;<span class="tx-btn">Baixar</span></button>
                                    <button class="button-botton" onclick=""><span class="material-icons">picture_as_pdf</span>&nbsp;<span class="tx-btn">Visualizar PDF</span></button>
                                </div>
                            </article>
                        </main>
                    </div>
                </div>    
            </div>
        </div>
        <div>
            <div>
                <footer>
                    <div class="block-footer">
                        <div class="grid-footer">
                            <div class="div-grid-footer">
                                <figure>
                                    <img src="material/img/logo/Mask group (2) 8.png"
                                </figure>
                                <br>
                                <br>
                                <p id="andress"></p>
                            </div>
                            <div class="div-grid-footer">
                                <h4>Missão:</h4>
                                <br>
                                <p>
                                    Nascemos com a missão de trazer a Matemática para todos de forma simples e prática e conectar alunos e professores em um espaço seguro.
                                </p>
                            </div>
                            <div class="link-footer div-grid-footer">
                                <h4>Informações:</h4><br>
                                <a href="#">Sobre</a><br>
                                <a href="#">Material</a><br>
                                <a href="#">Professores</a><br>
                                <a href="#">Fale conosco</a><br>
                                <a href="#">Faça parte</a><br>
                                <a href="#">Ajuda</a><br>
                                <a href="#">Mapa do site</a><br>
                                <a href="#">Perguntas Frequentes</a><br>
                            </div>
                            <div class="div-grid-footer">
                                <h4>Redes Sociais:</h4><br>
                                <div class="sm-icons" id="sm-footer"></div>
                                <br>
                                <h4>Contato:</h4>
                                <div id="contacttel"></div>
                            </div>
                        </div>
                        <div class="copy-div">
                            Math Day &copy; <span id="copyyear"></span>. Todos os direitos reservados.
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <a class="uppage" href="#top"><span class="material-icons">expand_less</span></a>
</body>
</html>